{% set base_mods = ['overlay','br_netfilter'] %}
{% set ipvs_mods = (os_enable_ipvs | default(false) | bool) and ['ip_vs','ip_vs_rr','ip_vs_wrr','ip_vs_sh','nf_conntrack'] or [] %}
{{ (base_mods + (ipvs_mods if ipvs_mods else [])) | unique | join('\n') }}